@import url("swiper/css");
@import url("swiper/css/navigation");
@import url("swiper/css/pagination");

html,
body {
  height: 100%;
}

// .auto-layout > li:last-child {
//   grid-column: span 2;
// }

.scroll-basket {
  &::-webkit-scrollbar {
    width: 4px;
    scrollbar-width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 7px;
    scrollbar-color: #a6a6a6 transparent;
  }
}
.table-scroll {
  &::-webkit-scrollbar {
    height: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #707070;
  }
  &::-webkit-scrollbar-track {
    background-color: #eeeeee;
    margin-right: 16px;
  }
}

.swiper-pagination-bullet {
  width: 100px;
  height: 2px;
  background: #ffffff66;
  opacity: 0.4;
  border-radius: 0px;

  &.swiper-pagination-bullet-active {
    background: #ffffff;
    opacity: 1;
  }
}

.backdrop::after {
  content: "";
  backdrop-filter: blur(24px);
}

.bgGradientMainSlider::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  left: 0;

  background: linear-gradient(
    180deg,
    rgba(24, 24, 24, 0) 0%,
    rgba(24, 24, 24, 0.8) 100%
  );
  z-index: 2;
}

.container {
  max-width: 1410px;
  padding-left: 67px;
  padding-right: 67px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 834px) {
    max-width: 1310px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.container-profile {
  max-width: 762px;
  padding-left: 67px;
  padding-right: 67px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 834px) {
    max-width: 660px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.tab-trigger[data-state="active"] {
  color: #444444;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -10px;
    left: 0;
    border-bottom: 1px solid #000000;
  }
}
